= f.error_notification
.form-row data-controller='contract'
  = f.input :datetime, as: :datepicker,
    input_html: { 'data-target': 'contract.date' },
    wrapper_html: { data: { flatpickr_enable_time: true,
    flatpickr_alt_format: t('datetime.formats.default'),
    flatpickr_default_date: f.object.datetime || user_default_time } }
  = f.input :counter_party,
    selected: f.object.contract&.counter_party_id,
    collection: CounterParty.kept.includes(:contracts) \
      .where(counter_party_role => true).map { |cp| [cp, cp.id,
      contract: (cp.contracts.in_date.count == 1 ? cp.main_contract.id : '')] },
    input_html: {required: true, data: { target: 'contract.cp',
    controller: 'selectr', action: 'change->contract#updateContract'}}
  = f.association :contract, wrapper: :custom_multi_select,
    collection: f.object.contract&.with_others&.in_date(f.object.datetime) || [],
    label_method: :to_s, required: false, wrapper_class: ['form-group',
    ('d-none' if f.object.new_record? || f.object.contract&.single?)],
    input_html: { 'data-target': 'contract.contract' }
  /-  TODO customer default
