<% content_for :title do 'Hisob' end %>
<div class="row">
	<% [[employees_path, 'people-carry', Employee],
			[departments_path, 'briefcase', Department],
	    [companies_path, 'building', Company],
	    [currencies_path, 'dollar-sign', Currency],
	    [units_path, 'weight-hanging', Unit],
	    [categories_path, 'shapes', Category],
	    [districts_path, 'map-marked-alt', District]    
	].each do |el| %>
	<div class="col-md-4 col-sm-6 py-sm-2">
	<%= link_to el[0], class: 'card text-center' do %>
		
	    <div class="card-img-top mt-3"><%=icon el[1]+' fa-fw fa-3x'%></div>
	    <div class="card-body">
	    	<h5 class="card-title"><%=el[2].model_name.human%></h5>
	    </div>

	<%end%>
	</div>
	<% end %>
</div>
