= simple_form_for local_assigns[:scope] || :flows,
  url: polymorphic_path([:report, controller_name.singularize.to_sym]),
  method: :post, local: true, defaults: { label: false,
    wrapper_html: { class: 'col-sm' } },
  html: { class: 'form-row w-75', 'data-controller': 'flows' } do |f|
  = f.input :start_date, as: :datepicker, required: true,
    input_html: { value: Date.yesterday.beginning_of_month,
      placeholder: t('attributes.start_date') }
  = f.input :end_date, as: :datepicker, required: true,
    input_html: { value: Date.yesterday.end_of_month,
      placeholder: t('attributes.end_date') }

  = yield f

  button[type='submit'
    class='btn btn-primary ml-sm-2 mb-sm-3 col-md-auto col-12']
    = t('helpers.submit.create_report')
