<table class="table table-hover table-responsive">
	<thead>
		<tr>
		<% columns.each do |column| -%>
			<th><%= t "attributes.#{column}" %></th>
		<%end-%>
		</tr>
	</thead>
	<tbody>
		<% if lookup_context.exists?('row', controller_name, true) -%>
			<% records.each do |row| -%>
				<%= render "#{controller_name}/row", record: row %>
			<%end-%>
		<%else-%>		

			<% records.rows.each do |row| -%>
			<tr>
				<% row.each do |field| -%>
				<td><%= field %></td>
				<%end-%>
			</tr>
			<%end-%>

		<%end-%>
	</tbody>
</table>