$container-max-widths: (
  sm: 630px,
  md: 810px,
  lg: 1060px,
  xl: 1250px
);
@import '~bootstrap/scss/bootstrap';
@import '~flatpickr/dist/flatpickr';
@import '../../assets/stylesheets/application.scss';