.alert ul {
  margin-bottom: 0;
}

.selectr-selected {
  @include box-shadow($input-box-shadow);
  @include transition($input-transition);
  @include form-control-focus();
}

.selectr-selected,
.selectr-input {
  border-color: $input-border-color;
  border-radius: $input-border-radius;
}

.selectr-selected:focus {
  outline: none;
}

.selectr-container.open.inverted .selectr-selected {
  border-radius: 0, 0, $input-border-radius, $input-border-radius;
}

.selectr-container.open .selectr-selected {
  border-radius: $input-border-radius, $input-border-radius, 0, 0;
}

.form-group-invalid {

  .invalid-feedback {
    display: block;
  }

  .selectr-selected {
    border-color: $danger;

    &:focus {
      @extend .form-control.is-invalid:focus;
    }
  }
}

// svg.fa-external-link-square-alt {
//   font-size: $font-size-base * 1.2;
// }

// https://github.com/rafaelfranca/simple_form-bootstrap/blob/master/app/assets/stylesheets/simple_form-bootstrap/_form_collection_label.scss
// vertical form
// .form-check {
//   > .collection_check_boxes,
//   > .collection_radio_buttons {
//     @extend .form-check-label;
//     // fix missing space between input & label
//     margin-right: .265625rem;
//   }
// }

// // custom form
// .custom-control {
//   > .collection_check_boxes,
//   > .collection_radio_buttons {
//     @extend .custom-control-label;
//     // fix missing space between input & label
//     margin-right: .265625rem;
//   }
// }

// // custom form radio button fix
// .form-group.radio_buttons {
//   > .custom-control {
//     @extend .custom-radio;
//   }
// }

// // custom form check box fix
// .form-group.check_boxes {
//   > .custom-control {
//     @extend .custom-checkbox;
//   }
// }
