.card,
.card:hover {
  color: $dark;
}

.w-sm-200 {
  max-width: 200px;

  @include media-breakpoint-down(sm) {
    max-width: 100%;
  }
}

.alert {
  max-height: 10em;
  overflow-y: hidden;
  transition: .5s linear;
}

.hide.alert {
  margin: 0;
  max-height: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.more-state:not(.show) {
  display: none;
}

.more-wrap {
  display: none;
}

.more-state:checked ~ .more-wrap {
  display: inherit;
}

.more-state:checked ~ .more-trigger:not(.show) {
  display: none;
}

.more-state:checked ~ .less-trigger{
  display: block;
}

.less-trigger {
  display: none;
}

.more-trigger:not(.show),
.less-trigger {

  color: $link-color;

  &:hover {
    text-decoration: underline;
  }
}