<% _id = params[:id] || params[:counter_party_id] -%>
<ul class="nav nav-tabs mb-3">
	<% ['show', 'report'].each do |action| %>
	<li class="nav-item">
		<%= link_to t(action, scope: 'views.tab_titles'),
			{id: _id, action: action, controller: :counter_parties},
			class: "nav-link#{' active' if action==action_name }" %>
	</li>
	<%end-%>
	<li class="nav-item">
		<%= link_to Contract.model_name.human(count: 2),
			counter_party_contracts_path(_id),
			class: "nav-link#{' active' if controller_name=='contracts' }" %>
	</li>
</ul>