@import 'bootstrap';
@import 'bootstrap-datepicker.css';
.currency {
  text-align: right;
}
.currency, .float {
  max-width: 200px;
}
.datepicker {
  .active.day {
    @extend .bg-primary;
  }
  .active.day, .active.day:hover {
    background: none;
  }
  .today.day {
    @extend .text-warning;
  }
  .today.day, .today.day:hover {
    background: none;
  }
}
.alert {
  transition: 0.5s ease-in;
}
a.anchor_input {
  display: inline-block;
  padding: 0rem 1rem 0rem 0.75rem;
  line-height: 1.5;
}

.more-state {
  display: none;
}
.more-wrap {
  display: none;
}
.more-state:checked ~ .more-wrap {
  display: inherit;
}
.more-state:checked ~ label {
  display: none;
}
.more-trigger {
  color: #007bff;
  &:hover {
    text-decoration: underline;
  }
}