@import 'bootstrap';
@import 'bootstrap-datepicker.css';
.bg-light {
    background-color: #f8f9fa!important;
}
.currency {
	text-align: right;
}
.currency, .float {
  max-width: 200px;
}
.datepicker {
  .active.day {
    @extend .bg-primary;
  }
  .active.day, .active.day:hover {
    background: none;
  }
  .today.day {
    @extend .text-warning;
  }
  .today.day, .today.day:hover {
    background: none;
  }
}
.alert {
		transition: 0.5s ease-in;
}