@import 'bootstrap';
@import 'bootstrap-datepicker';
.bg-light {
    background-color: #f8f9fa!important;
}
.currency {
	text-align: right;
}
.currency, .float {
  max-width: 200px;
}
.alert {
	transition: 0.5s ease-in;
}