@include media-breakpoint-up(md) {
  .nav {
    flex-direction: column;
    bottom: 0;
    position: fixed;
    width: 175px;
    &:not(.open) {
      width: 60px;
    }
  }

  .nav {
    margin:0; padding:0;
    a, button {
      border-width: 0 0 1px;
      display: block;
      padding: .5rem 1rem;
      width: 100%;
    }
    a svg, button svg {
      margin-right: 6px;
    }
  }

  .main-content {
    margin-left: 200px;
    :not(.open) + & {
      margin-left: 60px;
    }
  }

  .bottom {
    margin-top: auto;
  }

}
@include media-breakpoint-down(sm) {
  .nav {
    // margin: 0 auto;
    display: block;
    right: 0;
    padding: 0 15px;
    // height: auto;
    overflow-x: auto;
    a, button {
      padding: 18px;
      border-width: 0 0 0 1px;
      // width: auto;
      display: inline-block;
    }
    a, .bottom {
      display: inline-block;
    }
    // .bottom button {
    //   width: 100%;
    // }
    a svg, button svg {
      margin-right: auto; margin-left: auto;
    }
  }

  .nav-label, .btn-expand {
    display: none!important;
  }

}

.nav {
  background-color: $dark;
  top: 0px; left: 0px;
  z-index: 8;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &::-webkit-scrollbar {
    display: none;
  }

  transition: width 0.4s ease-in-out;
}

.nav button {
  background-color: $dark;
}

.nav:not(.open) svg {
  font-size: 1.5em;
}

.nav-label {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.nav:not(.open) .nav-label {
  opacity: 0;
}

.nav a, .nav button {
  border-style: solid;
  border-color: #444;
  text-align: left;
  color: #ccc;
}
.nav a:hover, .nav button:hover {
  background-color: #000;
  text-decoration: none;
  color: white;
}

.nav a svg, .nav button svg {
  transition: 0.4s ease-in-out;
  font-size: 1.3em;
  text-align: center;
  width: 1.25em!important;
  vertical-align: middle;
}
