<h1>Pul aylanmasini o'zgartirish</h1>

<%= render 'form', transaction: @transaction %>

<%= link_to "Ko'rsat", @transaction, html_options: {class: "btn btn-info"} %> |
<%= link_to 'Ortga', transaction_path, html_options: {class: "btn"} %>
