<h1>Pul aylanmasini o‘zgartirish</h1>

<%= render partial: 'form_in', transaction: @transaction, locals: {text: "Yarat", show: true} %>

<%= link_to "Ko‘rsat", @transaction, html_options: {class: "btn btn-info"} %> |
