<h1>Yangi Tushum</h1>

<%= render partial: 'form_in', transaction: @transaction, locals: {text: "Yarat",
                                                                   create_and_new: true,
                                                                   type_name: :Tushum
} %>