<div class="col-md-8">
<% Transaction.shown_columns.each do |column| %>
  <div class="row">
    <strong><%= Transaction.human_attribute_name column %>:</strong>
    <%= @transaction.send column %>
  </div>
<% end %>
<%= link_to "O‘chirib tashla", @transaction, method: :delete, confirm: "Aminmisiz?" %>
</div>