doctype html
html[lang="uz"]
  head
    title
      = title = @title || title_of_page
    meta[name="viewport" content="width=device-width, initial-scale=1"]
    - if action_name.in? ['show', 'new']
      = csrf_meta_tag
      = csp_meta_tag
    = javascript_include_tag "others", "data-turbo-track": "reload"

    - if action_name == 'index'
      link rel="prefetch" href=asset_path('application.js')
    - else
      = javascript_include_tag 'application', "data-turbo-track": "reload", async: true

    = stylesheet_link_tag "main"
    = stylesheet_link_tag "application"
    = yield(:head)
  body
    - cache :menu do
      = render 'common/menu'
    .main-content
      = render 'common/flash'
      .container.mb-3
        h1
          = title
        - if @custom_yield
          = yield
        - else
          .row
            div class="col-md-#{col=@col||8}"
              = yield
            - if content_for?(:aside)
              aside class="col-md-#{12-col} mt-2 mt-md-0"
                = yield :aside
