<%= render 'common/subhead' %>
<h5>Hisobdagi qoldiq: <small class="text-muted"><%= currency_precise_number(@account.balance, @account.currency, unit:true) %></small></h5>
<h5>Kirim va chiqimlar</h5>
<%= render 'report/all_flows_form' %>
